@import 'common/Common';

.card_stats {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-flow: row;
    background-color: rgb(40, 43, 57);
    align-items: center;
    width: 100%;

    .energy {
        // background-image: url('/images/atk.png');
        color: #ffd010;
    }
    .atk {
        // background-image: url('/images/atk.png');
        color: #d24664;
    }
    .def {
        // background-image: url('/images/def.png');
        color: #319b6a;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 100px;
    text-align: center;
}
.Plant {
    color: #6cc000;
    font-size: 13px;
}
.Beast {
    color: #ffb812;
    font-size: 13px;
}
.Aquatic {
    color: #00b8ce;
    font-size: 13px;
}
.Bug {
    color: #ff5341;
    font-size: 13px;
}
.Reptile {
    color: #dc8be4;
    font-size: 13px;
}
.Bird {
    color: #ff8bbd;
    font-size: 13px;
}
