@import 'common/Common';

.container {
  .table {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 280px;
    background-color: $axie-marketplace-background;


    th {
      color: white;
      font-size: 12px;
    }

    td {
      font-size: 12px;
    }
  }
}